{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block main %}
  <div class="mb-3">
    <p class="text-primary text-center">Blogg-50 provides users some features such as sharing/updating/deleting posts; liking/disliking posts; sharing/updating/deleting comments/sub comments follow/unfollow feature, search feature, profile page and much more...</p>
  </div>
  <div class="mb-3">
    <p class="text-primary text-center">I hope that you can enjoy surfing throughout Blogg-50.</p>
  </div>
{% endblock %}
