{% extends "layout.html" %}

{% block title %}
  Search
{% endblock %}

{% block styles %}
  <style>
    .profile-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .profile-info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-info h5 {
      margin: 0;
    }

    .card-body .profile-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #cccccc;
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="row text-start">
    <h1 class="text-center text-primary">Posts</h1>
    {% if posts|length == 0 %}
      <h2 class="text-center text-primary">No posts found.</h2>
    {% else %}
      {% for post in posts %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            {% if post.cover_image %}
              <img src="{{ url_for('static', filename='images/' ~ post.cover_image) }}" class="card-img-top img-fixed-height" alt="Post Image">
            {% else %}
              <img src="{{ url_for('static', filename='images/default.png') }}" class="card-img-top img-fixed-height" alt="Default Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <h6 class="card-title">Author: {{ post.username }} / Date: {{ post.publish_date }}</h6>
              <br>
              <p class="card-text">Summary: {{ post.summary }}</p>
              <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-outline-primary">Update Post</a>
              <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-outline-danger">Delete Post</a>
              <br><br>
              <a href="{{ url_for('post_details', post_id=post.id) }}" class="btn btn-outline-primary">Post Details</a>
              <a href="{{ url_for('show_comments', post_id=post.id) }}" class="btn btn-outline-primary">Comments</a>
              <br><br>
              <form action="{{ url_for('like_post', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-outline-success">Like</button>
                <span>{{ post.likes_count }}</span>
              </form>
              <form action="{{ url_for('dislike_post', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-outline-danger">Dislike</button>
                <span>{{ post.dislikes_count }}</span>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <br><br>

  <div class="row text-start">
    <h1 class="text-center text-primary">Users</h1>
    {% if users|length == 0 %}
      <h2 class="text-center text-primary">No users found.</h2>
    {% else %}
      {% for user in users %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <div class="card-body profile-card">
              <div class="profile-info">
                {% if user.profile_image %}
                  <img src="{{ url_for('static', filename='images/' ~ user.profile_image) }}" alt="Profile Image" class="profile-image">
                {% else %}
                  <img src="{{ url_for('static', filename='images/default_profile.jpg') }}" alt="Profile Image" class="profile-image">
                {% endif %}
                <div>
                  <h5>{{ user.username }}</h5>
                  <p>Joined: {{ user.join_date }}</p>
                  <p>Followers: {{ user.followers }}</p>
                  <p>Following: {{ user.following }}</p>
                </div>
              </div>
              {% if user.is_following %}
                <form action="{{ url_for('unfollow', following_id=user.id) }}" method="post">
                  <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                </form>
              {% else %}
                <form action="{{ url_for('follow', following_id=user.id) }}" method="post">
                  <button class="btn btn-outline-success" type="submit">Follow</button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
